html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }

  body{
    background-color: rgba(24, 60, 191, 0.429);
}

.titulo2 {
    font-size: 30px;
    margin: 0;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    background-color: #cf233dc8;
    color: #fff;
    padding: 20px;
  }

  .titulo1 {
    font-size: 30px;
    margin: 0;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    background-color: #513687;
    color: #fff;
    padding: 20px;
  }

  .titulo {
    font-size: 30px;
    margin: 0;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    background-color: #849b1a;
    color: #fff;
    padding: 20px;
  }

  .texto{
    font-size: 20px;
    margin: 0;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    color: #000000;
    padding: 20px;
  }
  
  .robo{
  display: block;
  margin: auto;
  }

  .sub{
    font-size: 20px;
    margin: 0;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    background-color: #bfcb1b;
    color: #fff;
    padding: 20px;
  }

  .sub1{
    font-size: 20px;
    margin: 0;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    background-color: #1b24cb;
    color: #fff;
    padding: 20px;
  }

  .sub2{
    font-size: 20px;
    margin: 0;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    background-color: #cb1bb6;
    color: #fff;
    padding: 20px;
  }

  .sub3{
    font-size: 20px;
    margin: 0;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    background-color: #cb791b;
    color: #fff;
    padding: 20px;
  }

  .sub4{
    font-size: 20px;
    margin: 0;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    background-color: #1bcb3e;
    color: #fff;
    padding: 20px;
  }