p{
    background-color: black;
    margin: 25px 50px;
}
#parrafoEspecial {
    background-color: darkblue;
    color: white;
}
#miCuadro {
    border: 5px solid black;
}
th,td {
    border: 1px dotted gray;
}
.alterno {
    background-color: gray;
}
th:hover,td:hover {
    background-color: lightgreen;
    color: black;
}